name: Build Docker images
on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  endpoint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build endpoint
        uses: docker/build-push-action@v5
        with:
          context: endpoint/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'push' }}
          tags: martenseemann/quic-network-simulator-endpoint:latest
  simulator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build simulator
        uses: docker/build-push-action@v5
        with:
          context: sim/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'push' }}
          tags: martenseemann/quic-network-simulator:latest
