name: Build Docker images
on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  endpoint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get version
        id: version
        run: echo "version=$(git describe --tags --always --dirty 2>/dev/null || git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build endpoint
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:endpoint/"
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'push' }}
          tags: martenseemann/quic-network-simulator-endpoint:latest
          build-args: |
            VERSION=${{ steps.version.outputs.version }}
  simulator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get version
        id: version
        run: echo "version=$(git describe --tags --always --dirty 2>/dev/null || git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build simulator
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:sim/"
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'push' }}
          tags: martenseemann/quic-network-simulator:latest
          build-args: |
            VERSION=${{ steps.version.outputs.version }}
